body{
  background-color: antiquewhite;
}

.top{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.left{
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 80px;
}

.top2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
    background-color: rgb(38, 187, 187);
    border-radius: 30px;
    height: 10vh;
}

.top3{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.p{
    display: flex;
    justify-content: end;
    margin-right: 40px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 80px;
}
.ol-left{
    direction: rtl;
}
.navbar{
    background-color: rgb(38, 187, 187);
}
.container {
    display: flex;
    align-items: center;
  }
  
  .img {
    transition: transform 0.3s ease;
  }
  
  .text {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .container:hover .img {
    transform: rotate(180deg);
  }
  
  .container:hover .text {
    transform: translateX(20px); /* Adjust the value as needed */
  }
  
  .btn{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }


  .mn{
    background-color: rgb(38, 187, 187);
  }

.p1{
  margin-left: 30px;
  margin-right:30px ;
  margin-top: 40px;
  text-align: center;
}
  